@inherits A2UIComponentBase
@* Placeholder - to be fully implemented *@
<div class="@GetCssClass()">TextField Component</div>

@code {
    protected override string GetCssClass() => Theme.Components.TextField;
}

