@inherits A2UIComponentBase
@* Placeholder - to be fully implemented *@
<div class="@GetCssClass()">DateTimeInput Component</div>

@code {
    protected override string GetCssClass() => Theme.Components.DateTimeInput;
}

