@inherits A2UIComponentBase
@* Placeholder - to be fully implemented *@
<div class="@GetCssClass()">MultipleChoice Component</div>

@code {
    protected override string GetCssClass() => Theme.Components.MultipleChoice;
}

